@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&family=Source+Sans+3:wght@300;400;500;600&display=swap');


*, *::after, *::before {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-size: 10px;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background: #F1F7FF;
}

a {
  text-decoration: none;
  font-family: 'Sora';
}


